Требуются файлы: main.py, VK.py, Yand.py

Добавить токен ВК в значение переменной - tokenvk
Добавить токен Яндекск.Полигона в значение перменной - tokenya

VK.py - модуль взаимодейсвия с VK
Yand.py - модуль взаимодействия с Yandex

error_code.py - модуль который отрабатывает коды ошибок модуля Request

Стандартные библиотеки Python: time, requests, json
